@import "../../scss/variables";
@import "../../scss/base";

//sale activity
.main-sale-activity {
  background-color: $color-bg;
  display: flex;
  justify-content: center;
  .sale-activity {
    // display: none;
    margin: 35px 0px;
    max-width: 1200px;
    background: $color-white;
    .sale-activity-header {
      letter-spacing: 1px;
      padding: 20px 15px;
      background: $color-white;
      border-bottom: 1px solid #e0e0e0;
      text-transform: uppercase;
      color: $color-header;
      font-size: 18px;
    }
    .sale-activity-container {
      padding: 0px 15px;
      text-align: justify;
      p {
        color: $color-text;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0px 20px;
        line-height: 21px;
        .cl-red {
          font-weight: 600;
          color: $color-red;
        }
      }
    }
  }
}

