* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.modal {
  background-color: #f5f5f5;
  padding: 80px 0;
}
.modal .form__container {
  padding: 30px 0px;
  background-color: #fff;
}
.modal .form__container .form-header {
  margin: auto;
  width: 800px;
  padding: 30px 45px;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
.modal .form__container .auth-form__socials {
  margin: auto;
  width: 800px;
  height: 100px;
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  gap: 30px;
}
.modal .form__container .auth-form__socials .btn--with-icon {
  height: 50px;
  flex: 1;
  padding: 0 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: #b7001d solid 1px;
  text-decoration: none;
  border-radius: 10px;
  color: #ce0021;
}
.modal .form__container .auth-form__socials .btn--with-icon:hover {
  background-color: #ebc4c4;
}
.modal .form__container .auth-form__socials .btn--with-icon .social-icon {
  font-size: 24px;
}
.modal .form__container .auth-form__socials .facebook-icon {
  color: #5021f8;
}
.modal .form__container .or {
  margin: auto;
  width: 800px;
  padding: 30px 45px;
  position: relative;
}
.modal .form__container .or .or-hr {
  border-top: #dedfdf 1px solid;
}
.modal .form__container .or .or-text {
  position: absolute;
  left: 370px;
  top: 10px;
  padding: 10px;
  background-color: #fff;
}
.modal .form__container .auth-form__content {
  width: 800px;
  padding: 30px 35px 0px;
  margin: auto;
}
.modal .form__container .auth-form__content .auth-form__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__group .lable {
  font-size: 20px;
  padding: 10px 0;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__group .auth-form__input {
  background-color: #f3ecec;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: #949598;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__group .auth-form__input:focus {
  outline: 2px solid #ce0021;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__group .error {
  color: #ff0000;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__miss .auth-form__miss-t {
  float: right;
  color: #b7001d;
  font-size: 14px;
}
.modal .form__container .auth-form__content .auth-form__form .auth-form__miss .auth-form__miss-t:hover {
  cursor: pointer;
  text-decoration: underline;
}
.modal .form__container .auth-form__content .auth-form__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0px;
}
.modal .form__container .auth-form__content .auth-form__controls .btn {
  width: 50%;
  height: 50px;
  background-color: #b7001d;
  float: right;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  color: #fff;
}
.modal .form__container .auth-form__content .auth-form__controls .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}/*# sourceMappingURL=signup.css.map */