@import "../../scss/variables";
@import "../../scss/base";

// shopping cart
.cart {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: $color-bg;
  .header {
    background-color: $color-bg;
    margin: auto;
    max-width: 1200px;
    display: flex;
    width: 1200px;
    padding: 20px 15px;
    .link-a {
      display: flex;
      color: #737373;
      gap: 5px;
      font-weight: 300;
      font-size: 14px;
      .link {
        color: #eb2c2c;
        &:hover {
          color: #f95e5e;
        }
      }
    }
  }

  .cart-container {
    background-color: $color-white;
    margin-bottom: 40px;
    .cart-content {
      padding: 0px 15px;
      max-width: 1200px;
      margin: auto;
      .payment-container {
        .cart-header {
          font-size: 28px;
          padding: 20px 0;
          color: $color-hover-bg;
          text-transform: uppercase;
        }
        .payment-content {
          display: flex;
          justify-content: space-between;
          .customer {
            width: 60%;
            .customer-header {
              margin-bottom: 10px;
              text-transform: uppercase;
              color: $color-primary;
              font-size: 20px;
            }
            .customer-content {
              font-size: 18px;
              .lable {
                padding: 10px 0 5px;
                font-weight: 500;
              }
              .ip-inf {
                width: 80%;
                padding: 5px;
              }
              .payment-method {
                display: flex;
                flex-direction: column;
                gap: 5px;
                .output {
                  padding: 0px 5px;
                }
              }
            }
          }
          .product-information {
            .product-header {
              margin-bottom: 20px;
              text-transform: uppercase;
              color: $color-primary;
              font-size: 20px;
            }
            .product,
            th,
            td {
              border: 1px solid #000;
              border-collapse: collapse;
              padding: 5px;
            }
            .product {
              text-align: center;
              .product-name {
                text-align: left;
                border-right: none;
                .product-img {
                  height: 100px;
                }
              }
              .name {
                border-left: none;
                text-align: left;
              }

              .setting {
                font-size: 22px;
                .delete {
                  color: #ff0000;
                  cursor: pointer;
                  padding-right: 5px;
                }
                .edit {
                  color: #18a018;
                  cursor: pointer;
                }
              }
              .total-text {
                text-align: right;
              }
              .total-number {
                text-align: right;
                .tong {
                  border: none;
                }
              }
            }
          }
        }
        &.hide {
          display: none;
        }
        .payment {
          margin: 25px 0px 40px 0px;
          text-align: right;
          .payment-btn {
            font-size: 20px;
            padding: 10px 25px;
            border: 1px solid $color-primary;
            border-radius: 8px;
            background-color: $color-primary;
            color: $color-white;
          }
        }
      }
      .successful {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 30px;
        .icon {
          width: 100px;
        }
        .success {
          color: #21c179;
          font-size: 24px;
        }
        .home {
          font-size: 20px;
          padding: 10px 25px;
          border: 1px solid #21c179;
          border-radius: 8px;
          background-color: #12ba6e;
          color: $color-white;
          &:hover {
            background-color: #21c179;
          }
        }
        &.hide {
          display: none;
        }
      }
    }
  }
}

// animations
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  25% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  75% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
