* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.cart .header {
  background-color: #f5f5f5;
  margin: auto;
  max-width: 1200px;
  display: flex;
  width: 1200px;
  padding: 20px 15px;
}
.cart .header .link-a {
  display: flex;
  color: #737373;
  gap: 5px;
  font-weight: 300;
  font-size: 14px;
}
.cart .header .link-a .link {
  color: #eb2c2c;
}
.cart .header .link-a .link:hover {
  color: #f95e5e;
}
.cart .cart-container {
  background-color: #fff;
  margin-bottom: 40px;
}
.cart .cart-container .cart-content {
  padding: 0px 15px;
  max-width: 1200px;
  margin: auto;
}
.cart .cart-container .cart-content .payment-container .cart-header {
  font-size: 28px;
  padding: 20px 0;
  color: #b7001d;
  text-transform: uppercase;
}
.cart .cart-container .cart-content .payment-container .payment-content {
  display: flex;
  justify-content: space-between;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer {
  width: 60%;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ce0021;
  font-size: 20px;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-content {
  font-size: 18px;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-content .lable {
  padding: 10px 0 5px;
  font-weight: 500;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-content .ip-inf {
  width: 80%;
  padding: 5px;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-content .payment-method {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart .cart-container .cart-content .payment-container .payment-content .customer .customer-content .payment-method .output {
  padding: 0px 5px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product-header {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ce0021;
  font-size: 20px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product,
.cart .cart-container .cart-content .payment-container .payment-content .product-information th,
.cart .cart-container .cart-content .payment-container .payment-content .product-information td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product {
  text-align: center;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .product-name {
  text-align: left;
  border-right: none;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .product-name .product-img {
  height: 100px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .name {
  border-left: none;
  text-align: left;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .setting {
  font-size: 22px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .setting .delete {
  color: #ff0000;
  cursor: pointer;
  padding-right: 5px;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .setting .edit {
  color: #18a018;
  cursor: pointer;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .total-text {
  text-align: right;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .total-number {
  text-align: right;
}
.cart .cart-container .cart-content .payment-container .payment-content .product-information .product .total-number .tong {
  border: none;
}
.cart .cart-container .cart-content .payment-container.hide {
  display: none;
}
.cart .cart-container .cart-content .payment-container .payment {
  margin: 25px 0px 40px 0px;
  text-align: right;
}
.cart .cart-container .cart-content .payment-container .payment .payment-btn {
  font-size: 20px;
  padding: 10px 25px;
  border: 1px solid #ce0021;
  border-radius: 8px;
  background-color: #ce0021;
  color: #fff;
}
.cart .cart-container .cart-content .successful {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
}
.cart .cart-container .cart-content .successful .icon {
  width: 100px;
}
.cart .cart-container .cart-content .successful .success {
  color: #21c179;
  font-size: 24px;
}
.cart .cart-container .cart-content .successful .home {
  font-size: 20px;
  padding: 10px 25px;
  border: 1px solid #21c179;
  border-radius: 8px;
  background-color: #12ba6e;
  color: #fff;
}
.cart .cart-container .cart-content .successful .home:hover {
  background-color: #21c179;
}
.cart .cart-container .cart-content .successful.hide {
  display: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  75% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}/*# sourceMappingURL=payment.css.map */