@import "../../scss/variables";
@import "../../scss/base";


.collections {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: $color-bg;
  .header {
    background-color: $color-bg;
    margin: auto;
    max-width: 1200px;
    display: flex;
    width: 1200px;
    padding: 20px 15px;
    .link-a {
      display: flex;
      color: #737373;
      gap: 5px;
      font-weight: 300;
      font-size: 14px;
      .header-link {
      }
      .link {
        color: #eb2c2c;
        &:hover {
          color: #f95e5e;
        }
      }
    }
  }
  .container {
    display: flex;
    margin: auto;
    max-width: 1200px;
    display: flex;
    width: 1200px;
    padding: 0px 15px;
    .left {
      line-height: 44px;
      background-color: $color-white;
      width: 27%;
      height: fit-content;
      .menu-header {
        text-transform: uppercase;
        border-bottom: 3px solid #e9e9e9;
        margin: 0px 15px;
        padding: 0px 10px;
        font-size: 18px;
        color: #737373;
      }
      .left-menu {
        .menu-items {
          border-bottom: 1px solid #e9e9e9;
          margin: 0px 15px;
          padding: 0px 10px;
          display: flex;
          justify-content: space-between;
          .icon {
            color: #aeadad;
            line-height: 44px;
          }
          a {
            color: $color-text;
            font-weight: 300;
          }
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            cursor: pointer;
            a,
            .icon {
              color: $color-red;
            }
          }
        }
        .sub-menu {
          text-transform: uppercase;
          a {
            padding: 0px 10px;
          }
        }
      }
    }
    .right {
      width: fit-content;
      padding: 0px 0px 30px 20px;
      .right-header {
        .header-name {
          font-size: 24px;
          color: $color-text;
          text-transform: uppercase;
          font-weight: 300;
          padding: 15px 17px 8px;
        }
      }
      .right-container {
        .book-book {
          display: flex;
          flex-wrap: wrap;
          column-gap: 12px;
          .book-link {
            margin-top: 15px;
            background-color: $color-white;
            .book-items {
              max-width: 215px;
              padding: 0px 15px;
              display: flex;
              flex-direction: column;
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              .book-sale-a {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row-reverse;
                .book-sale {
                  width: fit-content;
                  color: $color-white;
                  background-color: $color-red;
                  padding: 3px 5px;
                  margin-bottom: 5px;
                }
              }
              .book-img {
                display: flex;
                justify-content: center;
                & > img {
                  height: 180px;
                }
              }
              .book-name-a {
                padding: 7px 0px 5px;
                .book-name {
                  color: #212121;
                  font-size: 16px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-weight: 300;
                }
                &:hover .book-name {
                  color: $color-primary;
                }
              }
              .book-price {
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
                .current-price {
                  color: $color-red;
                  padding: 0px 5px 15px;
                }
                .cost {
                  font-weight: 300;
                  color: #cccaca;
                  text-decoration: line-through;
                }
              }
              &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              }
            }
          }
        }
      }
    }
  }
}
