* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.book-detail {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.book-detail .header {
  background-color: #f5f5f5;
  margin: auto;
  max-width: 1200px;
  display: flex;
  width: 1200px;
  padding: 20px 15px;
}
.book-detail .header .link-a {
  display: flex;
  color: #737373;
  gap: 5px;
  font-weight: 300;
  font-size: 14px;
}
.book-detail .header .link-a .link {
  color: #eb2c2c;
}
.book-detail .header .link-a .link:hover {
  color: #f95e5e;
}
.book-detail .container {
  background-color: #fff;
  margin-bottom: 15px;
}
.book-detail .container .content {
  margin: auto;
  max-width: 1200px;
  padding: 20px 35px;
  display: flex;
}
.book-detail .container .content .book-img {
  display: flex;
  position: relative;
}
.book-detail .container .content .book-img > img {
  width: 540px;
}
.book-detail .container .content .book-img .sale {
  padding: 7px 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff0000;
  font-weight: 500;
  border-radius: 4px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 20px;
  left: 460px;
  white-space: nowrap;
}
.book-detail .container .content .product {
  padding: 0px 60px;
}
.book-detail .container .content .product .product-title {
  padding: 0px 15px;
  width: 600px;
  border-bottom: 1px solid #ddd;
}
.book-detail .container .content .product .product-title .name {
  padding: 15px 0px;
  color: #212121;
  font-size: 26px;
  line-height: 38px;
}
.book-detail .container .content .product .product-title .social-actions {
  display: flex;
  gap: 10px;
}
.book-detail .container .content .product .product-title .social-actions .like,
.book-detail .container .content .product .product-title .social-actions .share {
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 8px;
  color: #fff;
  background-color: #1692f7;
  display: flex;
  gap: 5px;
}
.book-detail .container .content .product .product-title .social-actions .like:hover,
.book-detail .container .content .product .product-title .social-actions .share:hover {
  background-color: #0082ec;
  cursor: pointer;
}
.book-detail .container .content .product .product-title .producer {
  padding: 20px 0px;
}
.book-detail .container .content .product .product-title .producer .producer-content {
  font-size: 14px;
  font-weight: 700;
  color: #555555;
}
.book-detail .container .content .product .product-title .producer .producer-content .producer-link {
  color: #eb2c2c;
}
.book-detail .container .content .product .product-title .producer .producer-content .producer-link:hover {
  color: #e44f4f;
}
.book-detail .container .content .product .product-details {
  display: flex;
  padding: 15px 30px;
  color: #555555;
  font-weight: 300;
}
.book-detail .container .content .product .product-details .keys {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.book-detail .container .content .product .product-details .keys .key-items {
  font-size: 15px;
  list-style-type: disc;
}
.book-detail .container .content .product .product-details .values {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.book-detail .container .content .product .product-details .values .value-items {
  font-size: 15px;
}
.book-detail .container .content .product .product-details .values .current-price {
  display: flex;
  gap: 5px;
  font-size: 500;
  color: #424242;
}
.book-detail .container .content .product .product-details .values .current-price p {
  font-size: 18px;
  font-weight: 700;
  color: #ce0021;
}
.book-detail .container .content .product .select .quantity-box {
  display: flex;
  padding: 30px 30px 15px;
}
.book-detail .container .content .product .select .quantity-box p {
  font-weight: 700;
  color: #555555;
  line-height: 30px;
}
.book-detail .container .content .product .select .quantity-box .input {
  padding: 0px 40px;
  display: flex;
  gap: 0px;
  height: 30px;
}
.book-detail .container .content .product .select .quantity-box .input .button {
  color: #555555;
  width: 45px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #eee;
  background-color: #fff;
}
.book-detail .container .content .product .select .quantity-box .input .button:hover {
  background-color: #eee;
  cursor: pointer;
}
.book-detail .container .content .product .select .quantity-box .input .selector {
  width: 55px;
  text-align: center;
  border: #c8c7c7 solid 1px;
}
.book-detail .container .content .product .product-button {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
.book-detail .container .content .product .product-button .product-a {
  width: 48%;
  font-weight: 300;
}
.book-detail .container .content .product .product-button .product-a .button {
  padding: 10px 0px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}
.book-detail .container .content .product .product-button .product-a .button .uppercase {
  text-transform: uppercase;
  padding: 3px 0px;
  font-weight: 700;
}
.book-detail .container .content .product .product-button .product-a .button:hover {
  cursor: pointer;
}
.book-detail .container .content .product .product-button .product-a .add-to-cart {
  background-color: #0fa17f;
}
.book-detail .container .content .product .product-button .product-a .buy-now {
  background-color: #ce0021;
}
.book-detail .container .content .product .product-button .product-a .text {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
.book-detail .container .content .product .product-button .product-a .text .fas {
  color: #0fa173;
}
.book-detail .container .content .product .product-button .product-a .text .phone-number {
  color: #ce0021;
  font-weight: 700;
}
.book-detail .container .content .product .product-button .product-a .text .direct {
  color: #3700ff;
}
.book-detail .container .content .product .product-button .product-a .text .direct .fas {
  color: #3700ff;
}

.product-al {
  background-color: #f5f5f5;
}
.product-al .detail {
  padding: 10px;
  max-width: 1250px;
  margin: auto;
  display: flex;
}
.product-al .detail .left .new-books {
  width: 280px;
  background-color: #fff;
}
.product-al .detail .left .new-books .header {
  text-transform: uppercase;
  font-size: 20px;
  color: #777778;
  margin: 0px 15px;
  padding: 20px 0px 15px;
  border-bottom: 1px solid #d1d1d1;
}
.product-al .detail .left .new-books .container .items {
  margin: 15px 15px;
  display: flex;
  gap: 10px;
  border-bottom: 1px dashed #d1d1d1;
}
.product-al .detail .left .new-books .container .items .book-img {
  width: 80px;
  margin-bottom: 10px;
}
.product-al .detail .left .new-books .container .items .text {
  font-size: 14px;
}
.product-al .detail .left .new-books .container .items .text .book-name-a .book-name {
  color: #373737;
}
.product-al .detail .left .new-books .container .items .text .book-price {
  padding: 10px 0px;
  display: flex;
  gap: 5px;
}
.product-al .detail .left .new-books .container .items .text .book-price .current-price {
  color: #ff0000;
}
.product-al .detail .left .new-books .container .items .text .book-price .cost {
  text-decoration: line-through;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 300;
}
.product-al .detail .left .new-books .container .items:last-child {
  border-bottom: none;
}
.product-al .detail .left .banner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-al .detail .left .banner .banner-ad {
  width: 280px;
}
.product-al .detail .left .banner .banner-ad:hover {
  position: relative;
  top: -3px;
  box-shadow: rgba(34, 34, 35, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.product-al .detail .right .describe-book {
  margin: 0px 20px;
  background-color: #fff;
  padding: 15px;
}
.product-al .detail .right .describe-book .describe-header {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 15px;
  color: #f23434;
  border: 3px solid #f23434;
}
.product-al .detail .right .describe-book .line {
  position: relative;
  top: -18px;
  padding-left: 175px;
}
.product-al .detail .right .describe-book .line hr {
  height: 0.5px;
  color: #b7b8b9;
  background-color: #b7b8b9;
  border: none;
}
.product-al .detail .right .describe-book .describe-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #555555;
  font-weight: 300;
  margin: 20px 30px;
  font-size: 17px;
  text-align: justify;
}
.product-al .detail .right .describe-book .describe-content .bold {
  font-weight: 700;
}
.product-al .detail .right .describe-book .describe-content .italic {
  font-style: italic;
}
.product-al .detail .right .describe-book .describe-content .cl-b {
  color: #000;
}
.product-al .detail .right .other-books .other-book-header {
  margin: auto;
  padding: 30px 20px 5px;
  color: #6b6a6a;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #f5f5f5;
  position: relative;
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}
.product-al .detail .right .other-books .line {
  margin: 0px 20px;
  position: relative;
  top: -20px;
}
.product-al .detail .right .other-books .line hr {
  height: 0.5px;
  color: #d9dada;
  background-color: #d9dada;
  border: none;
}
.product-al .detail .right .other-books .book-container {
  display: flex;
  margin-left: 20px;
  margin-bottom: 30px;
}
.product-al .detail .right .other-books .book-container .book-book {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link {
  margin-top: 15px;
  background-color: #fff;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items {
  max-width: 220px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-sale-a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-sale-a .book-sale {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: #ff0000;
  padding: 3px 5px;
  margin-bottom: 5px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-img {
  display: flex;
  justify-content: center;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-img > img {
  height: 180px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-name-a {
  padding: 7px 0px 5px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-name-a .book-name {
  color: #212121;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-name-a:hover .book-name {
  color: #ce0021;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-price {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-price .current-price {
  color: #ff0000;
  padding: 0px 5px 15px;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items .book-price .cost {
  font-weight: 300;
  color: #cccaca;
  text-decoration: line-through;
}
.product-al .detail .right .other-books .book-container .book-book .book-link .book-items:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}/*# sourceMappingURL=book-detail.css.map */