@import "../../scss/variables";
@import "../../scss/base";


//book details
.book-detail {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: $color-bg;
  .header {
    background-color: $color-bg;
    margin: auto;
    max-width: 1200px;
    display: flex;
    width: 1200px;
    padding: 20px 15px;
    .link-a {
      display: flex;
      color: #737373;
      gap: 5px;
      font-weight: 300;
      font-size: 14px;
      .header-link {
      }
      .link {
        color: #eb2c2c;
        &:hover {
          color: #f95e5e;
        }
      }
    }
  }
  .container {
    // display: none;
    background-color: $color-white;
    margin-bottom: 15px;
    .content {
      margin: auto;
      max-width: 1200px;
      padding: 20px 35px;
      display: flex;
      .book-img {
        display: flex;
        position: relative;
        // width: fit-content;
        & > img {
          width: 540px;
        }
        .sale {
          padding: 7px 10px;
          text-transform: uppercase;
          color: $color-white;
          background-color: $color-red;
          font-weight: 500;
          border-radius: 4px;
          height: fit-content;
          position: absolute;
          top: 20px;
          left: 460px;
          white-space: nowrap;
        }
      }
      .product {
        padding: 0px 60px;
        .product-title {
          padding: 0px 15px;
          width: 600px;
          border-bottom: 1px solid #ddd;
          .name {
            padding: 15px 0px;
            color: #212121;
            font-size: 26px;
            line-height: 38px;
          }
          .social-actions {
            display: flex;
            gap: 10px;
            .like,
            .share {
              font-size: 12px;
              border-radius: 4px;
              padding: 5px 8px;
              color: $color-white;
              background-color: #1692f7;
              display: flex;
              gap: 5px;
              &:hover {
                background-color: #0082ec;
                cursor: pointer;
              }
            }
          }
          .producer {
            padding: 20px 0px;
            .producer-content {
              font-size: 14px;
              font-weight: 700;
              color: $color-text;
              .producer-link {
                color: #eb2c2c;
                &:hover {
                  color: #e44f4f;
                }
              }
            }
          }
        }
        .product-details {
          display: flex;
          padding: 15px 30px;
          color: $color-text;
          font-weight: 300;
          .keys {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .key-items {
              font-size: 15px;
              list-style-type: disc;
            }
          }
          .values {
            display: flex;
            flex-direction: column;
            gap: 11px;
            .value-items {
              font-size: 15px;
            }
            .current-price {
              display: flex;
              gap: 5px;
              font-size: 500;
              color: #424242;
              p {
                font-size: 18px;
                font-weight: 700;
                color: $color-primary;
              }
            }
          }
        }
        .select {
          .quantity-box {
            display: flex;
            padding: 30px 30px 15px;
            p {
              font-weight: 700;
              color: $color-text;
              line-height: 30px;
            }
            .input {
              padding: 0px 40px;
              display: flex;
              gap: 0px;
              height: 30px;
              .button {
                color: $color-text;
                width: 45px;
                text-align: center;
                font-size: 20px;
                border: 1px solid #eee;
                background-color: $color-white;
                &:hover {
                  background-color: #eee;
                  cursor: pointer;
                }
              }
              .selector {
                width: 55px;
                text-align: center;
                border: #c8c7c7 solid 1px;
              }
            }
          }
        }
        .product-button {
          padding: 15px 30px;
          display: flex;
          justify-content: space-between;
          .product-a {
            width: 48%;
            font-weight: 300;
            .button {
              padding: 10px 0px;
              text-align: center;
              border-radius: 4px;
              color: $color-white;
              .uppercase {
                text-transform: uppercase;
                padding: 3px 0px;
                font-weight: 700;
              }
              &:hover {
                cursor: pointer;
              }
            }
            .add-to-cart {
              background-color: #0fa17f;
            }
            .buy-now {
              background-color: $color-primary;
            }
            .text {
              padding: 12px 0px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              font-size: 16px;
              .fas {
                color: #0fa173;
              }
              .phone-number {
                color: $color-primary;
                font-weight: 700;
              }
              .direct {
                .fas {
                  color: #3700ff;
                }
                color: #3700ff;
              }
            }
          }
        }
      }
    }
  }
}

// detail
.product-al {
  background-color: $color-bg;
  .detail {
    padding: 10px;
    max-width: 1250px;
    margin: auto;
    display: flex;
    .left {
      .new-books {
        width: 280px;
        background-color: $color-white;
        .header {
          text-transform: uppercase;
          font-size: 20px;
          color: #777778;
          margin: 0px 15px;
          padding: 20px 0px 15px;
          border-bottom: 1px solid #d1d1d1;
        }
        .container {
          .items {
            margin: 15px 15px;
            display: flex;
            gap: 10px;
            border-bottom: 1px dashed #d1d1d1;
            .book-img {
              width: 80px;
              margin-bottom: 10px;
            }
            .text {
              font-size: 14px;
              .book-name-a {
                .book-name {
                  color: #373737;
                }
              }
              .book-price {
                padding: 10px 0px;
                display: flex;
                gap: 5px;
                .current-price {
                  color: $color-red;
                }
                .cost {
                  text-decoration: line-through;
                  color: #8b8b8b;
                  font-size: 13px;
                  font-weight: 300;
                }
              }
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      .banner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .banner-ad {
          width: 280px;
          &:hover {
            position: relative;
            top: -3px;
            box-shadow: rgba(34, 34, 35, 0.2) 0px 7px 29px 0px;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      .describe-book {
        margin: 0px 20px;
        background-color: $color-white;
        padding: 15px;
        .describe-header {
          margin-left: 10px;
          text-transform: uppercase;
          font-size: 14px;
          position: relative;
          z-index: 2;
          background-color: $color-white;
          width: fit-content;
          padding: 8px 15px;
          color: #f23434;
          border: 3px solid #f23434;
        }
        .line {
          position: relative;
          top: -18px;
          padding-left: 175px;
          hr {
            height: 0.5px;
            color: #b7b8b9;
            background-color: #b7b8b9;
            border: none;
          }
        }
        .describe-content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: $color-text;
          font-weight: 300;
          margin: 20px 30px;
          font-size: 17px;
          text-align: justify;
          .bold {
            font-weight: 700;
          }
          .italic {
            font-style: italic;
          }
          .cl-b {
            color: #000;
          }
        }
      }
      .other-books {
        .other-book-header {
          margin: auto;
          padding: 30px 20px 5px;
          color: #6b6a6a;
          font-size: 24px;
          font-weight: 300;
          text-transform: uppercase;
          background-color: $color-bg;
          position: relative;
          z-index: 2;
          width: fit-content;
        }
        .line {
          margin: 0px 20px;
          position: relative;
          top: -20px;
          hr {
            height: 0.5px;
            color: #d9dada;
            background-color: #d9dada;
            border: none;
          }
        }
        .book-container {
          display: flex;
          margin-left: 20px;
          margin-bottom: 30px;
          .book-book {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            .book-link {
              margin-top: 15px;
              background-color: $color-white;
              .book-items {
                max-width: 220px;
                padding: 0px 20px;
                display: flex;
                flex-direction: column;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                .book-sale-a {
                  display: flex;
                  flex-wrap: nowrap;
                  flex-direction:row-reverse;
                  .book-sale {
                    width: fit-content;
                    color: $color-white;
                    background-color: $color-red;
                    padding: 3px 5px;
                    margin-bottom: 5px;
                  }
                }
                .book-img {
                  display: flex;
                  justify-content: center;
                  & > img {
                    height: 180px;
                  }
                }
                .book-name-a {
                  padding: 7px 0px 5px;
                  .book-name {
                    color: #212121;
                    font-size: 16px;
                    white-space:nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 300;
                  }
                  &:hover .book-name {
                    color: $color-primary;
                  }
                }
                .book-price {
                  display: flex;
                  justify-content: center;
                  padding-bottom: 10px;
                  .current-price {
                    color: $color-red;
                    padding: 0px 5px 15px;
                  }
                  .cost {
                    font-weight: 300;
                    color: #cccaca;
                    text-decoration: line-through;
                  }
                }
                &:hover {
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
