* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Amatic SC", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.cart .header {
  background-color: #f5f5f5;
  margin: auto;
  max-width: 1200px;
  display: flex;
  width: 1200px;
  padding: 20px 15px;
}
.cart .header .link-a {
  display: flex;
  color: #737373;
  gap: 5px;
  font-weight: 300;
  font-size: 14px;
}
.cart .header .link-a .link {
  color: #eb2c2c;
}
.cart .header .link-a .link:hover {
  color: #f95e5e;
}
.cart .empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  background: #fff;
}
.cart .empty-cart .empty-text {
  font-weight: 300;
}
.cart .empty-cart .red {
  padding: 10px 0 30px;
  font-size: 20px;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.cart .empty-cart .red:hover {
  text-decoration: underline;
}
.cart .cart-container {
  background-color: #fff;
  margin-bottom: 40px;
}
.cart .cart-container .cart-content {
  padding: 0px 15px;
  max-width: 1200px;
  margin: auto;
}
.cart .cart-container .cart-content .cart-header {
  font-size: 28px;
  padding: 20px 0;
  color: #b7001d;
  text-transform: uppercase;
}
.cart .cart-container .cart-content .product,
.cart .cart-container .cart-content th,
.cart .cart-container .cart-content td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}
.cart .cart-container .cart-content .product {
  width: 1200px;
  text-align: center;
}
.cart .cart-container .cart-content .product .product-name {
  text-align: left;
}
.cart .cart-container .cart-content .product .product-name .product-img {
  height: 100px;
  padding: 0px 10px;
}
.cart .cart-container .cart-content .product .quantity .quantity-ip {
  padding: 5px;
  width: 100%;
}
.cart .cart-container .cart-content .product .setting {
  font-size: 22px;
}
.cart .cart-container .cart-content .product .setting .tooltip {
  position: relative;
  display: inline-block;
}
.cart .cart-container .cart-content .product .setting .tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  font-size: 16px;
  background-color: #848383;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40px;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
.cart .cart-container .cart-content .product .setting .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #848383 transparent transparent transparent;
}
.cart .cart-container .cart-content .product .setting .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.cart .cart-container .cart-content .product .setting .delete {
  color: #ff0000;
  cursor: pointer;
  padding-right: 5px;
}
.cart .cart-container .cart-content .product .setting .edit {
  color: #18a018;
  cursor: pointer;
}
.cart .cart-container .cart-content .product .total-text {
  text-align: right;
}
.cart .cart-container .cart-content .product .total-number {
  text-align: right;
}
.cart .cart-container .cart-content .product .total-number .tong {
  border: none;
}
.cart .cart-container .cart-content .payment {
  margin: 25px 0px 40px 0px;
  text-align: right;
}
.cart .cart-container .cart-content .payment .payment-btn {
  padding: 10px 25px;
  border: 1px solid #ce0021;
  border-radius: 8px;
  background-color: #ce0021;
  color: #fff;
}
.cart .cart-container.hide {
  display: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  75% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}/*# sourceMappingURL=shopping-cart.css.map */